body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(17, 17, 17);
}
.content {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 40vw;
  height: 60vh;
  margin: auto;
  border: 2px solid royalblue;
  border-radius: 10px;
  text-align: center;
  color: white;
  box-shadow: 0px 5px 45px rgb(60, 255, 255), 0px 5px 15px rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(12, 15, 15), rgb(30, 30, 30));
}
.hero-number {
  margin-top: 10px;
}
.creative {
  margin-top: 10px;
}
.main-content {
  line-height: 25px;
  font-size: 15px;
}
.number {
  display: flex;
  position: absolute;
  width: 40vw;
  height: 60vh;
  border-radius: 10px;
  background-color: white;
  transition: 1.2s;
}
.over-title {
  color: black;
  margin: auto;
  font-size: 300px;
}

.card .number:hover {
  opacity: 0.2;
  background-color: rgba(17, 17, 17, 0);
}
